<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"><title></title></head>
<body>
<div class="page-top" style="width: 100%; height: 20px; background-color: #f46b42;"></div>
<div th:replace="common/header :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2 class="section-headline">
                <h2 class="section-headline"><span>Nume utilizator TO DO()</span></h2>
            </h2>
        </div>
        <div class="col-4">
            <img src="/image/logo1.jpg" class="img-fluid"/>
        </div>
        <hr style="width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -10%;"/>
    </div>

    <div class="row" style="margin-top: 60px;">
        <div class="col-3">
            <h3><label for="category">Gen literal</label></h3>
            <div class="list-group" id="category">
                <a th:href="@{/bookshelf(gen='toate')}" class="list-group-item list-group-item-action">Toate</a>
                <a th:href="@{/searchByGen(gen='romantic')}" class="list-group-item list-group-item-action">Romantic</a>
                <a th:href="@{/searchByGen(gen='drama')}" class="list-group-item list-group-item-action">Drama</a>
                <a th:href="@{/searchByGen(gen='tragedie')}" class="list-group-item list-group-item-action">Tragedie</a>
                <a th:href="@{/searchByGen(gen='comedie')}" class="list-group-item list-group-item-action">Comedie</a>
                <a th:href="@{/searchByGen(gen='stiintific')}"  class="list-group-item list-group-item-action">Stiintific</a>
            </div>
        </div>
        <div class="col-9">
            <div th:if="${emptyList}">
                <h5 style="font-style: italic;">Oops, no result is found. Try something else or try again later.</h5>
            </div>

            <table id="bookList" class="dataTable no-footer">
                <thead><tr><th></th></tr></thead>
                <tbody>
                <tr class="book-item" data-th-each="book : ${bookList}">
                    <td>
                        <div th:if="${book != null}">
                            <div class="row" style="margin-bottom: 50px;">
                                <div class="col-9">
                                    <h4 th:text="${book.titlu}"></h4>
                                    <span th:text="${book.an_publicare}"></span>
                                    <p th:text="${book.editura}"></p>
                                    <span th:text="${book.gen}"></span><br/>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="common/header :: footer"></div>
</body>
</html>