body{
    padding-top: 20px;
    padding-bottom: 20px;
}

hr{
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}

footer{
    background-color: #0c1a1e;
    min-height: 250px;
    font-family: 'Open Sans', sans-serif;
}

.footerleft {
    margin-top: 50px;
    padding: 0 36px;
}

.logofooter{
    margin-bottom: 10px;
    font-size: 25px;
    color: #FFF;
    font-weight: 700;
}

.footerleft p{
    color: #fff;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #999;
}