<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="UTF-8">
    <title>Alex's Book Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<div th:fragment="navbar">
    <div class="page-top" style="width: 100%; height: 20px; background-color: #f46b42;"></div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">ALEX'S BOOKSTORE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">BOOKS </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/books}">Browse the bookshelf</a>
                        <a class="dropdown-item" th:href="@{/hours}">Store hours &#38 Directions</a>
                        <a class="dropdown-item" th:href="@{/faq}">FAQ</a>
                    </div>
                </li>
                <form class="form-inline mt-6 mt-md-2" th:action="@{/searchBook}" method="post">
                    <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Book title"/>
                    <button class="btn btn-default my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="footer">
    <br/><br/>
    <footer>
        <div class="row">
            <div class="col-3 footerleft">
                <p> Publicatie de carti si caterinca independenta:).</p>
            </div>
            <div class="col-3 paddingtop-bottom">
                <h6 class="heading7">CONTACT</h6>
                <ul class="post">
                    <p>
                        <i class="fa fa-map-pin"></i> 123 Tudor<br /> Iasi, Romania
                        705100
                    </p>
                    <p>
                        <i class="fa fa-phone"></i> Phone (RO) : 0757 797 294
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> E-mail : alex_store@book.com
                    </p>
                </ul>
            </div>
            <div class="col-3 paddingtop-bottom">
                <h6 class="heading7">LINKS</h6>
                <ul class="footer-ul">
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Termeni &#38; Conditii</a></li>
                    <li><a href="#"> Intrebari frecvente</a></li>
                </ul>
            </div>
            <div class="col-3 paddingtop-bottom">
                <h6 class="heading7">STORE HOURS</h6>
                <div class="post">
                    <p>Monday - Saturday: 9am - 11pm</p>
                    <p>Sunday: 10am - 10pm</p>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>